<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503453445305-qpcm0eu9pr4sukerqhg5cakt6rl49s3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503453445305-qpcm0eu9pr4sukerqhg5cakt6rl49s3v</string>
	<key>API_KEY</key>
	<string>AIzaSyAfkT76xa0iydZYp-1vA_B_iW2f5fkXbF8</string>
	<key>GCM_SENDER_ID</key>
	<string>503453445305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.panorama.homebride</string>
	<key>PROJECT_ID</key>
	<string>buatyexpert</string>
	<key>STORAGE_BUCKET</key>
	<string>buatyexpert.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503453445305:ios:7e7b86aaf987acf8</string>
	<key>DATABASE_URL</key>
	<string>https://buatyexpert.firebaseio.com</string>
</dict>
</plist>